<!DOCTYPE html>
<html>
<head>
  <title>Rubricator</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if session[:user] %>
	<div class = 'Userbar'>
		<strong><%= session[:user] %></strong>  <%= link_to 'Выйти', :controller => "users", :action => :signout %> 
	</div>
<% end %>

<%= yield %>

</body>
</html>
